body {
 /* background-image: url("img/bkg.jpg");*/
  background-size: cover;
  margin: 20px;
  padding: 0; }

#canvas {
  display: block;
  margin: auto;
  background-image: none;
  background-size: cover;
  border-color: purple;
  border-style: solid;
  border-radius: 5px; }

