html {
  background-image: url("img/slide01.jpg");
  background-size: cover;
  margin: 0;
  padding: 0; }

#bkg {
  background-image: none;
  background-size: cover;
  margin: 20px, 20px, 20px, 20px; }

#canvas {
  display: block;
  margin: auto;
  background-image: none;
  background-size: cover;
  border-color: transparent;
  border-style: solid;
  border-radius: 5px; }
